html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}

.main {
  background-color: #fcd6cc;
  margin-top: 50px;
}

.heading {
  margin: 0;

  font-size: 85px;
  font-weight: 900;
  text-align: center;
}
