html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fcd6cc;
}

.heading {
  margin: 0;

  font-size: 85px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
